REACT_APP_API_BASE_URL=http://localhost:3002
REACT_APP_DASHBOARD_URL=http://localhost:3001
# For deployed Netlify builds:
# REACT_APP_API_BASE_URL=https://zerodha-backend-s52h.onrender.com
# REACT_APP_DASHBOARD_URL=https://zerodha-dashboardclone.netlify.app/
